In [1]:
import pandas as pd
import numpy as np

In [2]:
usage = pd.read_csv('data/usage.csv')
# display(usage)
entry_counts = pd.read_csv('data/entry_counts.csv')
# display(entry_counts)
usage_contests = usage['contest_id'].unique()
# print(len(usage_contests))
usage_data = usage.merge(entry_counts, how='inner', on='contest_id')
usage_data['usage_ratio'] = usage_data['entry_count_x'] / usage_data['entry_count_y']
usage_data = usage_data.drop(columns=['entry_count_x']).rename(columns={'entry_count_y': 'entry_count'})
display(usage_data)
print(len(usage_data))
usage_check = usage_data.groupby('contest_id')[['usage_ratio']].sum().sort_values(by='usage_ratio', ascending=False)
# display(usage_check.value_counts())

         contest_id  roster_slot_id  player_id  entry_count  usage_ratio
0         163439930              66     403308          934     0.011777
1         163439930              66     496083          934     0.002141
2         163439930              66     513856          934     0.036403
3         163439930              66     591816          934     0.004283
4         163439930              66     607047          934     0.001071
...             ...             ...        ...          ...          ...
3665167   182494724             512    1239342          354     0.186441
3665168   182494724             512    1277914          354     0.076271
3665169   182494724             512    1325830          354     0.002825
3665170   182494724             512    1381164          354     0.008475
3665171   182494724             512    1441362          354     0.302260

[3665172 rows x 5 columns]

3665172

In [3]:
contests = pd.read_csv('data/contest_data.csv')
# display(contests)
usage_data_with_contests = usage_data.merge(contests, on=['contest_id'])
display(usage_data_with_contests)
print(usage_data_with_contests.columns)

,contest_id,roster_slot_id,player_id,entry_count,usage_ratio,season,double_up,draft_group_id,fifty_fifty,guaranteed,...,starred,starts_at,week,entries_max,entries_fee,contest_type,games_count,multientry,max_entry_fee,rake
0,163439930,66,403308,934,0.011777,2024,f,109136,f,t,...,t,2024-09-08 12:00:00,1,1000,4444.0,21,12,30,133320.0,9.990999
1,163439930,66,496083,934,0.002141,2024,f,109136,f,t,...,t,2024-09-08 12:00:00,1,1000,4444.0,21,12,30,133320.0,9.990999
2,163439930,66,513856,934,0.036403,2024,f,109136,f,t,...,t,2024-09-08 12:00:00,1,1000,4444.0,21,12,30,133320.0,9.990999
3,163439930,66,591816,934,0.004283,2024,f,109136,f,t,...,t,2024-09-08 12:00:00,1,1000,4444.0,21,12,30,133320.0,9.990999
4,163439930,66,607047,934,0.001071,2024,f,109136,f,t,...,t,2024-09-08 12:00:00,1,1000,4444.0,21,12,30,133320.0,9.990999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039361,172306485,71,332,99,0.151515,2024,f,119182,f,t,...,f,2024-12-28 12:00:00,17,100,0.0,21,3,1,0.0,100.000000
3039362,172306485,71,343,99,0.181818,2024,f,119182,f,t,...,f,2024-12-28 12:00:00,17,100,0.0,21,3,1,0.0,100.000000
3039363,172306485,71,348,99,0.262626,2024,f,119182,f,t,...,f,2024-12-28 12:00:00,17,100,0.0,21,3,1,0.0,100.000000
3039364,172306485,71,355,99,0.050505,2024,f,119182,f,t,...,f,2024-12-28 12:00:00,17,100,0.0,21,3,1,0.0,100.000000
3039365,172306485,71,357,99,0.282828,2024,f,119182,f,t,...,f,2024-12-28 12:00:00,17,100,0.0,21,3,1,0.0,100.000000

Index(['contest_id', 'roster_slot_id', 'player_id', 'entry_count',
       'usage_ratio', 'season', 'double_up', 'draft_group_id', 'fifty_fifty',
       'guaranteed', 'head_to_head', 'name', 'payout', 'starred', 'starts_at',
       'week', 'entries_max', 'entries_fee', 'contest_type', 'games_count',
       'multientry', 'max_entry_fee', 'rake'],
      dtype='object')

In [4]:
draftables = pd.read_csv('data/draftables_data.csv')
display(draftables[draftables['salary'].isna()])
usage_data_all = usage_data_with_contests.merge(draftables, on=['draft_group_id', 'player_id', 'roster_slot_id'])
usage_data_all = usage_data_all.rename(columns={'name_x': 'contest_name', 'name_y': 'player_name'})
display(usage_data_all)
usage_data_all['competition_id'] = usage_data_all['competition_id'].astype(int)

,id,team_id,team_abbreviation,player_id,draft_group_id,competition_id,name,position,roster_slot_id,salary,swappable,disabled
0,38652836,327,CIN,1109979,126437,6107994.0,Ja'Marr Chase,WR,68,NaN,f,f
1,38652837,327,CIN,1109979,126437,6107994.0,Ja'Marr Chase,WR,70,NaN,f,f
2,38652838,327,CIN,1109979,126437,6107994.0,Ja'Marr Chase,WR,627,NaN,f,f
3,38652839,354,PHI,883302,126437,6107430.0,Saquon Barkley,RB,67,NaN,f,f
4,38652840,354,PHI,883302,126437,6107430.0,Saquon Barkley,RB,70,NaN,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...
1013844,40772842,363,WAS,880123,137127,6107569.0,Lawrence Cager,TE,70,NaN,t,f
1013845,40772843,363,WAS,881048,137127,6107569.0,Tyree Jackson,TE,70,NaN,t,f
1013846,40772844,345,MIA,1229218,137127,6107569.0,Jalin Conyers,TE,70,NaN,t,f
1013847,40772845,363,WAS,1107232,137127,6107569.0,Colson Yankoff,TE,70,NaN,t,f
1013848,40772846,345,MIA,1180294,137127,6107569.0,Hayden Rucci,TE,70,NaN,t,f

,contest_id,roster_slot_id,player_id,entry_count,usage_ratio,season,double_up,draft_group_id,fifty_fifty,guaranteed,...,rake,id,team_id,team_abbreviation,competition_id,player_name,position,salary,swappable,disabled
0,163439930,66,403308,934,0.011777,2024,f,109136,f,t,...,9.990999,35213654,323,ATL,6018721.0,Kirk Cousins,QB,6100.0,t,f
1,163439930,66,496083,934,0.002141,2024,f,109136,f,t,...,9.990999,35213665,350,NO,6018919.0,Derek Carr,QB,5300.0,t,f
2,163439930,66,513856,934,0.036403,2024,f,109136,f,t,...,9.990999,35213660,361,SEA,6019075.0,Geno Smith,QB,5500.0,t,f
3,163439930,66,591816,934,0.004283,2024,f,109136,f,t,...,9.990999,35213648,331,DAL,6018551.0,Dak Prescott,QB,7100.0,t,f
4,163439930,66,607047,934,0.001071,2024,f,109136,f,t,...,9.990999,35213671,348,NE,6018799.0,Jacoby Brissett,QB,5100.0,t,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039361,172306485,71,332,99,0.151515,2024,f,119182,f,t,...,100.000000,37128077,332,DEN,6020071.0,Broncos,DST,2800.0,t,f
3039362,172306485,71,343,99,0.181818,2024,f,119182,f,t,...,100.000000,37128075,343,LAR,6020083.0,Rams,DST,3200.0,t,f
3039363,172306485,71,348,99,0.262626,2024,f,119182,f,t,...,100.000000,37128079,348,NE,6020095.0,Patriots,DST,2400.0,t,f
3039364,172306485,71,355,99,0.050505,2024,f,119182,f,t,...,100.000000,37128078,355,ARI,6020083.0,Cardinals,DST,2600.0,t,f
3039365,172306485,71,357,99,0.282828,2024,f,119182,f,t,...,100.000000,37128074,357,LAC,6020095.0,Chargers,DST,3400.0,t,f

In [5]:
# need to match up player names from projection data
import data_wrangler as dw
from fuzzywuzzy import process
import json

def match_player_name(player_name, potential_matches):
    print('Matching for player:')
    print(player_name)
    matches = process.extract(player_name, potential_matches, limit=10)
    print('Potential matches:')
    print(matches)
    print(f'"{player_name}": "{matches[0][0]}"')

projection_data = dw.get_filtered_projection_data()
display(projection_data)
dst_unique = usage_data_all[usage_data_all['position'] == 'DST'].groupby(['player_name', 'team_abbreviation']).groups.keys()
dk_def_map = {val[1]: val[0] for val in dst_unique}
print(dk_def_map)
projection_data.loc[projection_data['position'] == 'DST', 'player_name'] = projection_data.loc[projection_data['position'] == 'DST', 'player_name'].map(lambda x: dk_def_map.get(x))
with open('data/player_name_dict.json', 'r') as pdfile:
    player_dict = json.load(pdfile)
projection_data['player_name'] = projection_data['player_name'].map(lambda x: player_dict.get(x, x))


usage_data_with_projections = usage_data_all.merge(projection_data, on=['season', 'week', 'player_name', 'position'], how='left')
usage_data_with_projections['projection'] = usage_data_with_projections['projection'].fillna(0.0)

# fill in contest types
contest_type_dict = {
    96: 'Showdown',
    51: 'Tiers',
    21: 'Classic'
}

contest_types = ['Showdown', 'Classic', 'Tiers']
usage_data_with_projections['contest_type'] = usage_data_with_projections['contest_type'].map(lambda x: contest_type_dict.get(x, x))
# fill in roster slots
roster_slot_dict = {
    66: 'QB',
    67: 'RB',
    68: 'WR',
    69: 'TE',
    70: 'FLEX',
    71: 'DST',
    323: 'T1',
    324: 'T2',
    325: 'T3',
    326: 'T4',
    327: 'T5',
    328: 'T6',
    511: 'CPT',
    512: 'FLEX'
}
usage_data_with_projections['roster_slot_id'] = usage_data_with_projections['roster_slot_id'].map(lambda x: roster_slot_dict.get(x, x))

print(usage_data_with_projections['contest_type'].value_counts())
print(usage_data_with_projections['roster_slot_id'].value_counts())
usage_data_with_projections_filtered = usage_data_with_projections[usage_data_with_projections['contest_type'].isin(contest_types)].copy()
print(usage_data_with_projections_filtered['contest_type'].value_counts())
print(usage_data_with_projections_filtered['roster_slot_id'].value_counts())
# fix projections for captains
usage_data_with_projections_filtered.loc[usage_data_with_projections_filtered['roster_slot_id'] == 'CPT', 'projection'] *= 1.5
display(usage_data_with_projections_filtered)
usage_data_with_projections_filtered.to_csv('data/combined_data.csv')

    season  week      player_name position  projection
0     2024     1       Josh Allen       QB       23.49
1     2024     1      Jalen Hurts       QB       22.55
2     2024     1    Lamar Jackson       QB       20.50
3     2024     1      C.J. Stroud       QB       20.35
4     2024     1  Patrick Mahomes       QB       20.25
..     ...   ...              ...      ...         ...
27    2024    18              PIT      DST        6.30
28    2024    18               NO      DST        3.80
29    2024    18               TB      DST        8.80
30    2024    18              HOU      DST        7.70
31    2024    18              TEN      DST        7.50

[9487 rows x 5 columns]

{'SF': '49ers', 'CHI': 'Bears', 'CIN': 'Bengals', 'BUF': 'Bills', 'DEN': 'Broncos', 'CLE': 'Browns', 'TB': 'Buccaneers', 'ARI': 'Cardinals', 'LAC': 'Chargers', 'KC': 'Chiefs', 'IND': 'Colts', 'WAS': 'Commanders', 'DAL': 'Cowboys', 'MIA': 'Dolphins', 'PHI': 'Eagles', 'ATL': 'Falcons', 'NYG': 'Giants', 'JAX': 'Jaguars', 'NYJ': 'Jets', 'DET': 'Lions', 'GB': 'Packers', 'CAR': 'Panthers', 'NE': 'Patriots', 'LV': 'Raiders', 'LAR': 'Rams', 'BAL': 'Ravens', 'NO': 'Saints', 'SEA': 'Seahawks', 'PIT': 'Steelers', 'HOU': 'Texans', 'TEN': 'Titans', 'MIN': 'Vikings'}
contest_type
Classic     2512546
Showdown     452271
Tiers         21219
353           13641
285           12820
108           12569
354            8227
110            4102
103            1189
357             782
Name: count, dtype: int64
roster_slot_id
FLEX    1161632
WR       626357
RB       345139
TE       274537
QB       208397
DST      206738
CPT      173843
558        7918
T6         5247
557        4651
T5         3939
T4         3852
632        3280
T1         2790
T3         2716
T2         2675
567        2564
566        1538
673         364
541         198
542         194
538         150
539         150
540         149
537         148
535         100
536         100
Name: count, dtype: int64
contest_type
Classic     2512546
Showdown     452271
Tiers         21219
Name: count, dtype: int64
roster_slot_id
FLEX    1135876
WR       624045
RB       343555
TE       273299
QB       207461
DST      206738
CPT      173843
T6         5247
T5         3939
T4         3852
T1         2790
T3         2716
T2         2675
Name: count, dtype: int64

,contest_id,roster_slot_id,player_id,entry_count,usage_ratio,season,double_up,draft_group_id,fifty_fifty,guaranteed,...,id,team_id,team_abbreviation,competition_id,player_name,position,salary,swappable,disabled,projection
0,163439930,QB,403308,934,0.011777,2024,f,109136,f,t,...,35213654,323,ATL,6018721,Kirk Cousins,QB,6100.0,t,f,16.66
1,163439930,QB,496083,934,0.002141,2024,f,109136,f,t,...,35213665,350,NO,6018919,Derek Carr,QB,5300.0,t,f,14.80
2,163439930,QB,513856,934,0.036403,2024,f,109136,f,t,...,35213660,361,SEA,6019075,Geno Smith,QB,5500.0,t,f,17.43
3,163439930,QB,591816,934,0.004283,2024,f,109136,f,t,...,35213648,331,DAL,6018551,Dak Prescott,QB,7100.0,t,f,17.03
4,163439930,QB,607047,934,0.001071,2024,f,109136,f,t,...,35213671,348,NE,6018799,Jacoby Brissett,QB,5100.0,t,f,13.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039361,172306485,DST,332,99,0.151515,2024,f,119182,f,t,...,37128077,332,DEN,6020071,Broncos,DST,2800.0,t,f,5.60
3039362,172306485,DST,343,99,0.181818,2024,f,119182,f,t,...,37128075,343,LAR,6020083,Rams,DST,3200.0,t,f,6.30
3039363,172306485,DST,348,99,0.262626,2024,f,119182,f,t,...,37128079,348,NE,6020095,Patriots,DST,2400.0,t,f,5.70
3039364,172306485,DST,355,99,0.050505,2024,f,119182,f,t,...,37128078,355,ARI,6020083,Cardinals,DST,2600.0,t,f,5.00
3039365,172306485,DST,357,99,0.282828,2024,f,119182,f,t,...,37128074,357,LAC,6020095,Chargers,DST,3400.0,t,f,7.80

# Everything after this is unused

In [6]:

# check names that are in the projections but don't appear in the draftables
projected_but_not_draftable = projection_data.merge(usage_data_all, on=['season', 'week', 'player_name', 'position'], how='left')
projected_but_not_draftable = projected_but_not_draftable[projected_but_not_draftable['contest_id'].isna()].copy()
unique_draftables = usage_data_all['player_name'].unique()
for name in projected_but_not_draftable['player_name'].unique():
    if name not in unique_draftables:
        match_player_name(name, unique_draftables)

# Check names that are in draftables but don't appear in projections
draftable_but_not_projected = usage_data_with_projections[usage_data_with_projections['projection'].isna()].copy()
display(draftable_but_not_projected.groupby(['week', 'player_name', 'salary']).first().reset_index()[['week', 'player_name', 'salary']].sort_values(by='salary', ascending=False))

Matching for player:
Teddy Bridgewater
Potential matches:
[('Trey McBride', 62), ('Trey Palmer', 55), ('Eddy Pineiro', 55), ('Desmond Ridder', 52), ('DeAndre Carter', 52), ('Raiders', 51), ('Trey Lance', 51), ('Ellis Merriweather', 51), ('Dyami Brown', 50), ('Gary Brightwell', 50)]
"Teddy Bridgewater": "Trey McBride"

Empty DataFrame
Columns: [week, player_name, salary]
Index: []

In [7]:
print(usage_data_with_projections.dtypes)
print(usage_data_with_projections['contest_type'].value_counts())
print(usage_data_with_projections['roster_slot_id'].value_counts())

contest_id             int64
roster_slot_id        object
player_id              int64
entry_count            int64
usage_ratio          float64
season                 int64
double_up             object
draft_group_id         int64
fifty_fifty           object
guaranteed            object
head_to_head          object
contest_name          object
payout               float64
starred               object
starts_at             object
week                   int64
entries_max            int64
entries_fee          float64
contest_type          object
games_count            int64
multientry             int64
max_entry_fee        float64
rake                 float64
id                     int64
team_id                int64
team_abbreviation     object
competition_id         int64
player_name           object
position              object
salary               float64
swappable             object
disabled              object
projection           float64
dtype: object
contest_type
Classic     2512546
Showdown     452271
Tiers         21219
353           13641
285           12820
108           12569
354            8227
110            4102
103            1189
357             782
Name: count, dtype: int64
roster_slot_id
FLEX    1161632
WR       626357
RB       345139
TE       274537
QB       208397
DST      206738
CPT      173843
558        7918
T6         5247
557        4651
T5         3939
T4         3852
632        3280
T1         2790
T3         2716
T2         2675
567        2564
566        1538
673         364
541         198
542         194
538         150
539         150
540         149
537         148
535         100
536         100
Name: count, dtype: int64

In [8]:
# compute value over replacement and projection value ratio
data = usage_data_with_projections_filtered.copy()
player_groups = data[['contest_id', 'roster_slot_id', 'player_id', 'salary', 'projection']].copy()
player_groups['projection_value_ratio'] = player_groups['projection'] / player_groups['salary'] * 50000
player_groups = player_groups.groupby(['contest_id', 'roster_slot_id'])[['salary', 'projection', 'projection_value_ratio']].agg(['max', 'mean', 'std', 'median', 'mad'])
print(player_groups.head(20))

AttributeError: 'SeriesGroupBy' object has no attribute 'mad'

In [ ]:
print(usage_data_with_projections.dtypes)

contest_id             int64
roster_slot_id         int64
player_id              int64
entry_count            int64
usage_ratio          float64
season                 int64
double_up             object
draft_group_id         int64
fifty_fifty           object
guaranteed            object
head_to_head          object
contest_name          object
payout               float64
starred               object
starts_at             object
week                   int64
entries_max            int64
entries_fee          float64
contest_type           int64
games_count            int64
multientry             int64
max_entry_fee        float64
rake                 float64
id                     int64
team_id                int64
team_abbreviation     object
competition_id       float64
player_name           object
position              object
salary               float64
swappable             object
disabled              object
projection           float64
dtype: object